html { 
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  background-color: #000cd0;
}
body {
width: 600px; 
margin: 0 auto; 
background-color: #006400;
padding: 0 20px 20px 20px; 
border: 5px solid black; 
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #191970;
  font-size: 60px;
  text-align: center; 
  text-shadow: 3px 3px 1px black; 
}
img {
  display: block;
  margin: 0 auto;
  width: 600px;
}
p,
li {
  font-size: 16px;
  line-height: 2; 
  letter-spacing: 1px; 
}
